[defaults]
interpreter_python = auto_silent
remote_user=c4eadmin
# In container, maps to /etc/ansible/hosts. Locally uses relative path or env var.
inventory=/etc/ansible/hosts
host_key_checking=False
# private_key_file=/etc/ansible/id_rsa # Ensure this is mounted safely if used
