<VirtualHost *:80>
  ServerAdmin support@hosting.local
  ServerName {{ site_url }}
  DocumentRoot {{ DOC_ROOT }}/{{ site_user }}/web
  DirectoryIndex index.html
  ErrorLog {{ DOC_ROOT }}/{{ site_user }}/logs/{{ site_user }}-error.log
  CustomLog {{ DOC_ROOT }}/{{ site_user }}/logs/{{ site_user }}-access.log combined

    <Directory {{ DOC_ROOT }}/{{ site_user }}/web>
      Options -Indexes -Includes +FollowSymLinks +MultiViews
      AllowOverride All
      Require all granted
    </Directory>
</VirtualHost>
